@page "/studentform"
@using Blazor_Components.Model
@using System.Text.Json
@inject IJSRuntime js
<h3>Student Component</h3>

<div class="container" >

    <FormComponent Model="@Student" onSave="((Student s)=>onStudentSaveReceive(s))" />
      
    
        <hr/>
    <div class="container">
    <strong>
    @JsonSerializer.Serialize(Student);
    </strong>
    </div>

    <FormComponent Model="@Employee" onSave="((Employee e)=>onEmployeeSaveReceive(e))" />
        <div class="container">
            <strong>
                @JsonSerializer.Serialize(Employee);
            </strong>
        </div>
   
</div>

@code {
    public Student? Student { get; set; } = new Student();
    public Employee? Employee { get; set; } = new Employee();
    public string? Name { get; set; } = "Mahesh";
 
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    async void onStudentSaveReceive(Student student)
    {
        await js.InvokeVoidAsync("alert", $"Students { JsonSerializer.Serialize(student)}");
        
    }
    async void onEmployeeSaveReceive(Employee employee)
    {
        await js.InvokeVoidAsync("alert", $"Employee {JsonSerializer.Serialize(employee)}");
       
    }
    
}
